body {
    margin: 0px;
}

#body-container {
    position: absolute;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
   /* border: solid 1px green; */
}

nav {
    border: solid 1px black;
    background-color: black;
    margin-top: 0px;
    width: 1000px;
    height: 50px;
}

#nav-flex {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
}

a:hover {
    color: #523D6B;
    transition-duration: .25s;
}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h1 {
    border: 1px solid black;
    width: 1000px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    width: 1024px;
    height: 100px;
    color: black;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h3 {
    border: 1px solid black;
    width: 500px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
   /* margin-left: 250px;*/
}

h4 {
    width: 820px;
    height: 145px;
    background-color: darkgray;
    text-align: center;
    margin-left: 92px;
    font-size: 20px;
}

p {
    width: 820px;
    height: 170px;
    background-color: darkgray;
    text-align: center;
    margin-left: 92px;
}

#photography-container {
  /*  border: solid 1px orange;*/
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#photography-images-container {
    width: 1000px;
  /*  border: solid 1px gray;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: column;
    justify-content: flex-end;
}

#photography-photo-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photography-images {
    width: 576px;
    height: 384px;
    border: 30px solid black;
    position: relative;
}

#Digital-Media-container {
  /*  border: solid 1px red; */
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#DM-images-container {
    width: 1000px;
  /*  border: solid 1px violet;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: column;
    justify-content: flex-end;
}
#DM-photo-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.digital-media-images {
    width: 400px;
    height: 500px;
    border: 30px solid black;
    position: relative;
}

#Visual-container {
  /*  border: solid 1px blue; */
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#visual-images-container {
    width: 1000px;
  /*  border: solid 1px orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: column;
    justify-content: flex-end;
}
#visual-photo-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.visual-images {
    width: 344px;
    height: 344px;
    border: 30px solid black;
    position: relative;
}
