body {
    margin: 0px;
}

#body-container {
    position: absolute;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    border: solid 1px green;
}

h1 {
    border: 1px solid black;
    width: 1000px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
}

h2 {
    width: 1024px;
    height: 100px;
    color: black;
    text-align: center;
}

h3 {
    border: 1px solid black;
    width: 500px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

h4 {
    width: 820px;
    height: 280px;
    background-color: darkgray;
    text-align: center;
    margin-left: 92px;
}

p {
    width: 410px;
    height: 280px;
    background-color: darkgray;
    text-align: center;
    margin-left: 92px;
}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#photography-container {
    border: solid 1px orange;
    width: 1000px;
    display: flex;
}

#images-container {
    width: 1000px;
    border: solid 1px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: column;
    justify-content: flex-end;
}

 #flex-photo {

    /*display: flex;
    flex-direction: column wrap;
    justify-content: space-around;
}
     */ }
#photo-title {

}

.photography-images {
border: 30px solid black;
    position: relative;
}

#Digital-Media {
    border: solid 1px orange;
    width: 1000px;
}

#photo-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#photo-two {

}

.digital-media-images {
    width: 365px;
    height: 255px;
    border: 30px solid black;
}

#Visual {
    border: solid 1px orange;
    width: 1000px;
}

#visual-photo-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#visual-photo-two {

}

.visual-images {
    width: 365px;
    height: 255px;
    border: 30px solid black;
    position: relative;
}
