
h1 {
    border: 1px solid black;
    width: 1024;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
}

h2 {
    border: 1px solid black;
    width: 500px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

h4 {
    width: 820px;
    height: 280px;
    background-color: darkgray;
    text-align: center;
    margin-left: 92px;
}

p {
    width: 410px;
    height: 280px;
    background-color: darkgray;
    text-align: center;
    margin-left: 92px;
}

